#map1, #map2 {
    height: auto;
    width: 100%;
    display: block;
    z-index: 0;
}

#maps {
    margin: auto;
}

.viz.largeScreen, .dataTables_wrapper.largeScreen {
    width: 750px;
}


.viz.midScreen, .dataTables_wrapper.midScreen{
	width: 500px;
}

.viz.smallScreen, .dataTables_wrapper.smallScreen {
    width: 500px;
}

.viz.largeScreen {
    height: 1050px;
}

.viz.midScreen {
    height: 800px;
}

.viz.smallScreen {
    height: 500px;
}

.map {
    display: flex;
    z-index: 0;
    margin: 20px;
    width: auto;
}

    .map.largeScreen {
        height: 85%;
    }

    .map.midScreen {
        height: 80%;
    }

    .map.smallScreen {
        height: 60%;
    }

ul, li {
    z-index: 1;
}

.viz {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    flex-grow: 1;
}

#viz1 {
    border-width: 2px;
    border-color: blue;
    border-style: solid;
}

#viz2 {
    border-width: 2px;
    border-color: red;
    border-style: solid;
}

#tables {
    margin: auto;
    display: flex;
}

#maps, #tables {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.dataTables_wrapper {
    display: inline-block;
    margin: 20px;
    padding: 5px;
    vertical-align: top;
    flex-grow: 1;
}

#table1_wrapper, #legend1 {
    border-width: 2px;
    border-color: blue;
    border-style: solid;
}

#table2_wrapper, #legend2 {
    border-width: 2px;
    border-color: red;
    border-style: solid;
}

.bottom-dash {
    width: 100%;
    display: flex;
}

#download1 {
    /* display: inline-block; */
}

#legend1, #legend2 {
    /* display: inline-block; */
    position: relative;
    height: 60px;
    width: 200px;
    margin-left: 50px;
    /* margin-right: 100px;
    margin-top: 10px; */
}

.legend {
    display: flex;
    width: 50%;
}

.legendDiv {
    bottom: 0px;
    position: absolute;
    bottom: 0px;
}

h1 {
    margin-bottom: 5px;
}

hr {
    height: 1px;
    border-width: 0px;
    color: black;
    background-color: black;
    position: absolute;
    bottom: 1px;
    width: inherit;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }

#buttonTab, #placeholder {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
}

#buttonTab.largeScreen, #placeholder.largeScreen {
	width: 45px;
	margin-top: 500px;
}

#buttonTab.midScreen, #placeholder.midScreen {
	width: 45px;
	margin-top: 340px;
}

#buttonTab.smallScreen, #placeholder.smallScreen {
	width: 45px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
}

#langSelect {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    opacity: 0.6;
}

.disabled {
    display: none !important;
}
