html {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.section {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	position: relative;
}

.section.split {
	max-width: 50%;
}

.section.solo {
	
}

.topBar {
	height: min-content;
	padding: 5px;
	width: 100%;
	background-color: #9A2C44;
}

.subBar {
	height: min-content;
	padding:3px;
	width: 100%;
	background-color: #E35F59;
}

#sectionContainer {
	width: 100%;
	display: flex;
	flex-grow: 1;
	position: relative;
}

.disabled {
    display: none !important;
}

#titleBar {
	width: 100%;
	margin: 0px;
	background-color: #3D3A39;
	display: flex;
	justify-content: space-between;
}

#logo {
	width: 240px;
	height: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

#spacerDiv {
	width: 2px;
	height: 100%;
	display: inline-block;
}

.selectButton {
	background-color: #E35F59;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	height: 25px;
	line-height: 19px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 2px;
	padding-right: 2px;
	box-sizing: border-box;
	margin-left: 15px;
}

.aboutData {
	background-color: #F39A8C;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	height: 15px;
	line-height: 11px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	box-sizing: border-box;
	font-size: 10px;
	float: right;
}

.XButton, .QButton, .ShareButton, .DownloadButton, .LocButton, .GraphButton, .TableButton {
	height: 25px;
	border: solid 2px #E35F59;
	border-radius: 8px;
	padding: 3px;
	box-sizing: border-box;
}
.TableButton, .GraphButton, .LocButton, .DownloadButton, .ShareButton {
	float: right;
	margin-right: 3px;
}

.mapDiv {
	flex-grow: 1;
	position: relative;
}

.tables {
	margin: 10px;
	flex-grow: 1;
	position: relative;
}

.charts {
	margin: 10px;
	flex-grow: 1;
	position: relative;
}

.LocButton.selected, .GraphButton.selected, .TableButton.selected {
	border: solid 2px #FFFFFF;
}

#rightMapArrow, #leftMapArrow {
	width: 25px;
}

#linkMapButton {
	width: 20px;
	background-color: #9A2C44;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	box-sizing: content-box;
}

#mapButtons {
	z-index: 1000;
	position: absolute;
	bottom: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-around;
}

#mapButtons.left {
	left: 0%;
}

#mapButtons.right {
	left: 100%;
}

.addressSearch {
	background-image: url('../searchIcon.png');
	background-position: right 3px bottom 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #D3DEDE;
	padding-right: 30px;
	padding-left: 10px;
	position: absolute;
	top: 10px;
	right: 5px;
	height: 25px;
	width: 450px;
	border: solid 2px #3E3C3A;
	border-radius: 20px;
	overflow: hidden;
	z-index: 1000;
}

#langSelect {
	width: 150px;
	background-color: black;
	border-radius: 20px;
	height: 25px;
	margin-top: auto;
	margin-bottom: auto;
	color: white;
	text-align: center;
}

.legendDiv, #legend1, #legend2 {
	z-index: 2222;
    position: absolute;
    left: 10px;
    bottom: 19px;
}

.leaflet-top.leaflet-right {
	position:relative;
	top:80px;
}

.queryPanel {
	background-color: #D3DEDE;
	border: solid 2px #3E3C3A;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	padding: 5px;
	width: 70%;
	height: 10%;
}

.queryPanel div {
	width: 60%;
	margin-left: 15%;
	margin-top: 3%;
}

.queryPanel input.searchBar {
	width: 100%;
	text-align: center;
}

.queryPanel #search1, .queryPanel #search2 {
	background-color: #9A2C44 !important;
	color: #D3DEDE;
}