html {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: #606161;
}

p {
	margin: 0px; /* Removes default margin */
}

.section {
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.section.solo{
	flex-grow:1 !important;
}

.topBar {
	height: min-content;
	padding: 5px;
	width: 100%;
	background-color: #9A2C44;
}

.subBar {
	height: 20px;
	padding: 0px 0px 0px 2px;
	width: 100%;
	background-color: #E35F59;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	gap: 0px;
	min-width: fit-content;
}

.subBar.full {
	height: min-content;
	min-height: 20px;
}

#sectionContainer {
	width: 100%;
	display: flex;
	flex-grow: 1;
	position: relative;
}

.disabled {
    display: none !important;
}

#titleBar {
	width: 100%;
	margin: 0px;
	background-color: #3D3A39;
	display: flex;
	justify-content: space-between;
}

#logo {
	width: 240px;
	height: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

#spacerDiv {
	width: 2px;
	height: 100%;
	display: inline-block;
	position: relative;
}

.selectButton {
	background-color: #E35F59;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	height: 25px;
	line-height: 19px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	margin-left: 15px;
}

.aboutData {
	background-color: #F39A8C;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	height: min-content;
	box-sizing: border-box;
	font-size: 10px;
	float: right;
	align-self: flex-end;
	margin: auto 5px auto auto;
	line-height: normal;
	gap: 0px;
	max-height: 15px;
	min-width: fit-content;
}

.XButton, .QButton, .ShareButton, .DownloadButton, .LocButton, .GraphButton, .TableButton {
	height: 25px;
	border: solid 2px #E35F59;
	border-radius: 8px;
	padding: 3px;
	box-sizing: border-box;
}
.TableButton, .GraphButton, .LocButton, .DownloadButton, .ShareButton {
	float: right;
	margin-right: 3px;
}

#DownloadButton1, #DownloadButton2{
	background: #9A2C44;
}

#print-container{
	border: None;
}

.mapDiv {
	flex-grow: 1;
	position: relative;
}

.tables {
	margin: 10px;
	flex-grow: 1;
	position: relative;
	margin-top: 0px;
	padding-top: 10px;
	background-color: white;
}

.charts {
	margin: 10px;
	flex-grow: 1;
	position: relative;
}

.LocButton.selected, .GraphButton.selected, .TableButton.selected {
	border: solid 2px #FFFFFF;
}

#rightMapArrow, #leftMapArrow {
	width: 25px;
}

#left, #right{
	flex-grow: 1;
	flex-basis: min-content;
}

#linkMapButton {
	width: 20px;
	background-color: #9A2C44;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	box-sizing: content-box;
}

#mapButtons {
	z-index: 1000;
	position: absolute;
	bottom: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-around;
}

#mapButtons.left {
	left: 0%;
}

#mapButtons.right {
	left: 100%;
}

.addressSearch {
	background-image: url('../searchIcon.png');
	background-position: right 3px bottom 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #D3DEDE;
	padding-right: 30px;
	padding-left: 10px;
	position: absolute;
	top: 10px;
	right: 5px;
	height: 25px;
	width: 450px;
	border: solid 2px #3E3C3A;
	border-radius: 20px;
	overflow: hidden;
	z-index: 1000;
}

#langSelect {
	width: 150px;
	background-color: black;
	border-radius: 20px;
	height: 25px;
	margin-top: auto;
	margin-bottom: auto;
	color: white;
	text-align: center;
}

#legend1, #legend2 {
	z-index: 2222;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 1;
	min-width: 200px;
	align-items: flex-end;
	width: 90%;
	height: 90%;
}

.leaflet-top.leaflet-right {
	position:relative;
	top:80px;
}

.dataType {
	font-size: 12px;
	font-family: sans-serif;
	margin: auto;
	padding: 0px;
	color: #FFFFFF;
	font-weight: bold;
	flex-grow: 1;
}

.infoPanel {
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%,50%);
	width: 60%;
	height: 50%;
	z-index: 1000;
	display: block;
	background-color: #D3DEDE;
	border: solid 2px #3E3C3A;
	border-radius: 10px;
}

.panelExitButton {
	background-color: #9A2C44;
	height: 22px;
	width: 22px;
	border: solid 2px #3E3C3A;
	border-radius: 5px;
	padding: 3px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.expandButton {
	height: 20px;
	width: 20px;
	float: right;
	align-self: flex-end;
	margin: auto;
}

.legendPanel {
	z-index: 2222;
	position: absolute;
	left: 10px;
	bottom: 60px;
	width: 150px;
	background-color: rgba(0,0,0,0.6);
	border: solid 2px black;
	border-radius: 20px;
	max-height: fit-content;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	flex-wrap: nowrap;
	padding: 5px;
}

.legendDiv {
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
}

#key1, #key2 {
	flex-grow: 1;
	min-width: 150px;
	max-width: fit-content;
	margin-right: 10px;
}

.legendPanel.open {
	width: min-content;
}

#legendPanel2.legendPanel {
	left: unset;
	right: 10px;
}

#key1 p, #key2 p {
	text-align: center;
	color: white;
	opacity: 1;
	display: inline-block;
	width: 100%;
}

.legendEntry {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.colorSquare {
	display: inline-block;
	flex-grow: 0;
}

.legendText {
	display: inline-block;
	color: white;
	vertical-align: middle;
	flex-grow: 1;
	max-width: 120px;
}

.modal-header{
	background-color:#9A2C44;
	color: #F39A8C;
	font-weight: bold;
	font-size: 22px;
	font-style: italic;
}

#exportContent{
	margin-bottom: 10%;
}

.exportOption{
	display: inline-block;
}

#exportMap, #exportGraph, #exportTable{
	display: inline-block;
	margin-right: 5%;
}

.exportText{
	font-size: 14px;
	font-weight: bold;
}

.exportIcon{
	height: 50px;
	width: 50px;
	align-self: center;
}

#exportBtn{
	display: flex;
	justify-content: center;
}

#exportButton{
	height: 40px;
	width: 300px;
	background-color: #E35F59;
	color: black;
	border: solid 1.5px #3E3C3A;
	border-radius: 15px;
	font-size: 12px;
	font-weight: bold;
	margin: 0 auto;
}

.querySelector{
	width: auto;
	padding: 2px 10px 2px 10px;
	border-radius: 5px;
	margin: 5px auto 5px auto;
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.querySelector.active {
	border: solid blue 2px;
	background-color: white;
}

.querySelector.inactive {
	border: solid black 2px;
	background-color: grey;
}

.queryLabel {
	margin-right: 10px;
	display: inline-block;
	width: -moz-fit-content;
	vertical-align: middle;
	white-space: normal;
	flex-grow: 1;
}

.queryEditButton {
	width: -moz-fit-content;
	vertical-align: middle;
	white-space: normal;
	padding: 0px 5px 0px 5px;
}

.queryActivateButton {
	width: 70px;
	margin-right: 10px;
}

.radioButton {
	margin-bottom: 15px;
	padding: 10px;
}

.queryPanel {
	background-color: #B6C6C2;
	border-radius: 20px;
	width: 660px;
	height: 450px;
	margin: auto;
	margin-top: 10%;
	position: absolute;
	overflow: hidden;
	left: 52%;
	top: 38%;
	transform: translate(-50%,-50%);
	z-index: 500;
}

.queryInfo {
	margin-top: 35px;
	height: 85px;
}

.queryInfoLeft {
	display: inline-block;
	width: 260px;
	margin-left: 35px;
}

.queryInfoSpace {
	display: inline-block;
	width: 3%;
}

.queryInfoRight {
	display: inline-block;
	width: 40%;
	vertical-align: top;
	margin-right: 8%;
}

.queryColumns {
	width: 100%;
	height: 270px;
	margin-top: 20px;
}

.queryWhat, .queryWhere, .queryWho {
	display: inline-flex;
	height: 100%;
	position: relative;
	width: 197px;
	flex-direction: column;
}

.querySubmit {
	position: absolute;
	background-color: #B93839;
	border: none;
	border-radius: 0px 0px 20px 20px;
	width: 100%;
	bottom: 0px;
	left: 0px;
	height: 40px;
}

.queryWhat {
    border-right: 1px solid white;
    margin-left: 5%;
}

.queryWho {
    border-left: 1px solid white;
}

p.queryBold {
    color: #EF4B49;
    font-size: 27px !important;
    font-weight: bold;
    margin: 0px;
}

.queryInfoLeft p {
    font-size: 14px;
    margin: 0px;
}

.queryInfoRight p {
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
}

.queryInfoRight p.queryLight {
    font-weight: normal;
    font-size: 10pt;
    margin: 0px;
}

img.queryNum {
    height: 33px;
    vertical-align: middle;
}

span.queryTopic {
    vertical-align: middle;
    margin: 0px;
}

input.searchBar {
	border: none;
	background-color: white;
	border-radius: 15px;
	width: 95%;
	padding: 0px 7px 0px 7px;
}

.queryLabelDiv{
	height: min-content;
}

.radioEntry{
	display: block;
}

.queryMenu{
	background-color: #A3A3A3;
	border-radius: 15px;
	padding: 5px;
	border: none;
	appearance: none;
}

select.queryMenu {
	background-image: url("../dropdownArrow.svg");
	background-position: bottom -6px right -6px;
	background-repeat: no-repeat;
	background-size: 40px;
	padding: 5px 28px 5px 5px;
	font-size: 10pt;
	height: 28px;
	width: 100%;
	text-align: center;
}

div.queryMenu {
	padding: 10px;
	min-height: 150px;
	width: 100%;
	max-height: 185px;
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.queryMenuLabel{
	text-align: center;
	font-style: italic;
	font-family: serif;
}

.queryWhat .queryMenuLabel {
	text-align:left;
}

.radioLabel {
	font-size:10pt;
}

.queryTopicMenuDiv, .queryMeasureMenuDiv, .queryGeoMenuDiv{
	flex-grow: 1;
	margin-right: 5px;
}

.queryTopicMenuDiv, .queryGeoMenuDiv, .queryFilterMenuDiv{
	margin-top:15px;
}

.queryMeasureMenuDiv {
	margin-top: 5px;
}

.queryGeoMenuDiv, .queryFilterMenuDiv {
	margin-left: 5px;
}

.select-wrapper {
	position: relative;
}

.select-wrapper::after {
	content: url("../dropdownArrow.svg");
	top: -5px;
	right: -20px;
	position: absolute;
}

.filterButtonDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.filterButtonDiv .radioEntry {
    display: inline;
    flex-basis: max-content;
    flex-grow: 1;
}

.filterTypeDiv {
    width: 100%;
    margin-bottom: 5px;
}

p.filterTypeLabel {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 10px;
}

.filterButtonDiv input[type="radio"] {
    width: 8px;
    height: 8px;
}

.filterButtonDiv .radioLabel {
    font-size: 12px;
}

.queryMenu::-webkit-scrollbar {
    display: none;
}

.querySubmit:hover {
	border: 2px solid black;
	text-shadow: 0 0 black;
}

.awesomplete {
    width: 100%;
}

.concentrationMenu {
    margin: 0px;
    flex-grow: 2;
}
