#map1, #map2 {
    height: 650px;
    width: 550px;
    margin-right: 50px;
    display: block;
}

.container, .legend {
    display: inline-block;
    height: 700px;
}

#legend1, #legend2 {
    height: 200px;
    width: 250px;
    position: relative;
    margin-top: 100px;
}

.legendDiv {
    position: absolute;
    bottom: 10px;
}

h1 {
    margin-bottom: 5px;
}

hr {
    height: 1px;
    border-width: 0px;
    color: black;
    background-color: black;
    position:absolute;
    bottom: 1px;
    width: inherit;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}